@keyframes animateArrowDown{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(3rem);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(20deg);
    }

    20%{
        transform: rotate(40deg);
    }

    40%{
        transform: rotate(60deg);
    }

    60%{
        transform: rotate(80deg);
    }

    100%{
        transform: rotate(0deg);
    }
}